In [2]:
import pandas as pd
import numpy as np

In [41]:
df = pd.DataFrame([['佐藤', 170, 60], ['田中', 160, 50], ['鈴木', 165, 58]])

In [42]:
df

    0    1   2
0  佐藤  170  60
1  田中  160  50
2  鈴木  165  58

In [45]:
df[0].isin(['佐藤', '鈴木'])

0     True
1    False
2     True
Name: 0, dtype: bool

In [47]:
(df[0] == '佐藤') | (df[0] == '鈴木')

0     True
1    False
2     True
Name: 0, dtype: bool